body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(imgs/stoli.jpg);
}

header {
    background-image:url(/imgs/i.webp);
    
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
    background-color: #6db65f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #5a9b4d;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}